body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
text-align: center;
font-weight: bold;
color: rgba(251, 251, 253, 0.938);
background-color: aqua;
background-image: url("1613494473962-01.jpeg");
width: 1420px;
height: 1080px;
}
.active{
  font-weight:bold;
  color:Black;
}
.not-active{
  font-weight:bold;
  color:Blue;
  text-decoration:line-through;
}
